@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap');

$primary: rgb(43, 170, 149);
$secundary: aliceblue;

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    @include flexCenter();
    height: 100vh;
    background-color: $primary;
    gap: 10vh;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: $secundary;
    padding: 24px;
    gap: 10px;
    border-radius: 1vh;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translate(0, 0);
    transition: transform 0.2s ease-in-out;

    h1 {
        @include flexCenter();
    }    
    &:hover {
        transform: translate(0, -2px);
    }

    .calculator {
        width: 400px;
    
        .display {
            font-size: 2em;
            width: 100%;
            text-align: right;
        }
        .btn {
            width: 100%;
            height: 50px;
            font-size: 1.2em;
            border: none;
            background-color: #d4d4d4;
            cursor: pointer;

            box-shadow: 0 4px 8px rgba(161, 158, 158, 0.253);
            transform: translate(0, 0);
            transition: transform 0.2s ease-in-out;

            &:hover {
                background-color: #cac9c9;
                transform: translate(0, -2px);
            }
        }
    }
}
